<!DOCTYPE html>
<!-- add stylesheet -->

<head>
    <title>Main Page</title>
</head>
<link rel="stylesheet" href="/public/css/main.css">
<body>
    <h1>Welcome to SETA</h1>
    <p>Click <a href="/login">here</a> to login</p>
</body>
</html>